<form class="form container" #form="ngForm" (ngSubmit)="process()" novalidate>

  <div class="form-group">
    <input type="text" #nom  [(ngModel)]="newsItem.name" name="name"
    class="form-control" placeholder="Nom et prénom" minlength="5">
  </div>

  <div class="form-group">
    <input type="text"  #ref  [(ngModel)]="newsItem.reference" name="ref" class="form-control"
    placeholder="Référence ex:1245" minlength="4">
  </div>

  <div class="form-group">
    <select  [(ngModel)]="newsItem.state"  class="form-control" name="state">
      <option [ngValue]="state.ALIVRER">A VALIDER</option>
      <option [ngValue]="state.ENCOURS">EN COURS</option>
      <option [ngValue]="state.LIVREE">LIVREE</option>
    </select>
  </div>
  <div class="form-group">
  <button  [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
