<form class="form" [formGroup]="form" (ngSubmit)="process()" novalidate>

  <div class="form-group">
    <input type="text" formControlName="name" class="form-control" placeholder="Nom et prénom">
  </div>
  <div class="alert alert-danger" *ngIf="this.form.get('name').dirty && this.form.get('name').hasError('minlength')">champ invalide
  </div>
  <!--
  <div class="alert alert-danger" *ngIf="nom.invalid && nom.touched">champ invalide</div>
  -->
  <div class="form-group">
    <input type="text" formControlRef="ref" class="form-control" placeholder="Référence ex:1245">
  </div>
  <div class="form-group">
    <select class="form-control" formControlState="state">
      <option [ngValue]="state.ALIVRER">A VALIDER</option>
      <option [ngValue]="state.ENCOURS">EN COURS</option>
      <option [ngValue]="state.LIVREE">LIVREE</option>
    </select>
  </div>
  <div class="form-group">
  <button  [disabled]="form.invalid" type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
